:root {
  --brand: "olx";
  --customLTRFont: "Roboto", A2rial, Helvetica, sans-serif;
  --customRTLFont: "Tajawal", A2rial, Helvetica, sans-serif;
  /*primary*/
  --primaryBase: #002f34;
  --primaryLight1: #406367;
  --primaryLight2: #7f9799;
  /*--primaryLight3:#d8dfe0;*/
  --primaryLight5: #dfe5e5;
  /*blue*/
  --blueBase: #3a77ff;
  --blueLight1: #6c99ff;
  --blueLight2: #9cbbff;
  --blueLight4: #ebf1ff;
  --blueLight3: #ceddff;
  --blueDark1: #1d3c81;
  --blueDark2: #17284e;
  /*accent*/
  --accentBase: #23e5db;
  --accentLight1: #5aece4;
  --accentLight2: #91f2ed;
  --accentLight3: #c8f8f6;
  --accentLight4: #e9fcfb;
  --accentDark1: #00a49f;
  --accentDark2: #085c5d;
  /*$red*/
  --redBase: #ff5636;
  --redLight1: #ff8169;
  --redLight2: #ffaa9a;
  --redLight3: #ffd6c9;
  --redLight4: #ffeeea;
  --redDark1: #aa133d;
  --redDark2: #5d142c;
  --redDark3: #de1609;
  /*$green*/
  --greenBase: #18ae62;
  /*$yellow*/
  --yellowDark3: #ffce32;
  /*$monetization*/
  --monetizationBase: #ffce32;
  --monetizationLight1: #ffe48d;
  --monetizationLight2: #ffedb2;
  --monetizationLight3: #fff6d9;
  --monetizationLight4: #fffbef;
  --monetizationDark1: #d2b982;
  --monetizationDark2: #71674e;
  /*brand*/
  --brandPrimary: var(--primaryBase);
  --brandPrimaryDark: var(--primaryBase);
  --brandPrimaryLight: var(--primaryLight2);
  --brandAccent: var(--accentBase);
  --brandAccentDark: var(--accentDark1);
  --brandAccentLight: var(--accentLight3);
  --brandPrimaryGrey: var(--primaryBase);
  /*$neutral*/
  --black: rgba(0, 0, 0, 1);
  --blackGradients: rgba(0, 47, 52, 0);
  --blackBackground: rgba(0, 47, 52, 0.03);
  --blackDividers: rgba(14, 4, 5, 0.2);
  --blackDisabled: rgba(0, 47, 52, 0.36);
  --blackHintText: rgba(0, 47, 52, 0.36);
  --blackSecondaryText: rgba(0, 47, 52, 0.64);
  --blackIcons: rgba(0, 47, 52, 0.64);
  --blackText: rgba(0, 47, 52, 1);
  --white: rgba(255, 255, 255, 1);
  --whiteGradients: rgba(255, 255, 255, 0);
  --whiteDividers: rgba(255, 255, 255, 0.2);
  --whiteDisabled: rgba(255, 255, 255, 0.2);
  --whiteHintText: rgba(255, 255, 255, 0.2);
  --whiteSecondaryText: rgba(255, 255, 255, 0.7);
  --whiteIcons: rgba(255, 255, 255, 1);
  --whiteText: rgba(255, 255, 255, 1);
  --background: rgba(235, 238, 239, 1);
  --greyBorder: rgba(0, 48, 52, 1);
  --lightGrey: rgba(219, 219, 219, 1);
  --blackDividers2: rgba(216, 223, 224, 1);
  --background2: rgba(242, 244, 245, 1);
  --blackBackground2: rgba(248, 249, 250, 1);
  --redDisbabled: #ffdde1;
  --blackOpaque: #9dadb6;
  --disabled: rgba(0, 47, 52, 0.36);
  --gray: #949494;
  /*$utility*/
  --utilError: #ff2800;
  --utilErrorDark: var(--redDark1);
  --utilErrorLight: var(--redLight3);
  --facebook: #4065b3;
  --messenger: #4285f4;
  --whatsapp: #4cc85b;
  --google: #dd4b39;
  --utilMonetization: var(--monetizationBase);
  --utilMonetizationDark: var(--monetizationDark1);
  --utilMonetizationLight: var(--monetizationLight3);
  --infoBadge: #f8dd3c;
  --promotedBadge: #f8fbcf;
  --chatPrimary: var(--blueLight3);
  --chatSecondary: #ccd5d6;
  --chatSecondary1: #eeeeee;
  /*new*/
  --disabledUtility: #d8dfe0;
  --disabledText: var(--primaryLight2);
  /*new&changekey*/
  --utilLabel: var(--accentLight3);
  /*notexists*/
  --labelGhost: var(--primaryBase);
  /*notexists*/
  --goodAlert: #6597b1;
  --veryGoodAlert: #4cadb3;
  --worstAlert: #f0817a;
  --chatLabelBackground: #dfe5e5;
  --offerHighlight: #e0e0e0;
  /*alert*/
  --alertSuccess: #6abc13;
  --alertError: #de1609;
  /*black*/
  --blackBase: var(--primaryBase);
  --blackLight1: var(--primaryLight1);
  --blackLight2: var(--primaryLight2);
  /*$text*/
  --primaryBaseText: var(--blackBase);
  --primaryLight1Text: var(--blackLight1);
  --primaryLight2Text: var(--blackLight2);
  --primaryLight3text: var(--primaryLight2);
  --primary: var(--primaryBase);
  /*$themeColors*/
  --valuationCarousalDisabledBg: var(--blackDividers);
  --valuationCarousalSelectedBg: var(--accentLight3);
  --valuationProgressColor: var(--accentBase);
  --valuationPriceBg: var(--blueLight3);
  --valuationPriceBorder: var(--blueBase);
  --bookingMainHeading: var(--blackText);
  --bookingSelectedLocation: var(--accentLight3);
  --bookingTerms: var(--accentLight3);
  --bookingSelectedDateBorder: var(--primaryBase);
  --bookingConfirmSubtitle: var(--primaryBase);
  --moneBusinessPackageBanner: var(--primaryBase);
  --monePackagePropositionBanner: var(--monetizationLight3);
  --bottomFooterBg: var(--blackText);
  --topFooterBg: var(--background);
  --inputBorder: var(--chatSecondary);
  --headerBg: var(--blackBackground);
  --notificationBg: var(--accentBase);
  --notificationText: var(--blackText);
  --bulletDisabledBg: var(--blueLight4);
  --bulletBg: var(--blueBase);
  --pageHeadlineBackgroundColor: var(--primaryBase);
  --howToSellStepsColor: var(--primaryBase);
  --cityOfTheCityListInLocations: var(--primaryBase);
  --buttonInLocationsMobileView: var(--primaryBase);
  --locationInfo: var(--primaryBase);
  --progressBulletFilled: var(--blueLight1);
  --progressBulletBlinker: var(--blueBase);
  --progressBulletDisabled: var(--blueLight3);
  --mapPinInfoBg: var(--blueBase);
  --mapPinInfoText: var(--white);
  --grayYellowMap: var(--monetizationLight4);
  --grayYellowMapDark: var(--monetizationDark1);
  --blueLight3primaryLight3: var(--blueLight3);
  --blueLight4primaryLight4: var(--blueLight4);
  --blueDark1blackBase: var(--blueDark1);
  /*rgba-alpha*/
  --primarybase15: rgba(0, 47, 52, 0.15);
  --primarybase04: rgba(0, 47, 52, 0.04);
  --primarybase19: rgba(0, 47, 52, 0.19);
  --primarybase80: rgba(0, 47, 52, 0.8);
  --blueBase29: rgba(58, 119, 255, 0.29);
  --blueBase25: rgba(58, 119, 255, 0.25);
  --blueBase50: rgba(58, 119, 255, 0.5);
  --blueLight447: rgba(235, 241, 255, 0.47);
  --disabled40: rgba(216, 223, 224, 0.4);
  --error20: rgba(255, 40, 0, 0.2);
  --infoBadge50: rgba(248, 221, 60, 0.5);
  --primaryBaseText15: rgba(0, 47, 52, 0.15);
  --primaryLight1Text80: rgba(64, 99, 103, 0.8);
  --blackText70: rgba(0, 47, 52, 0.7);
  --blackText20: rgba(0, 47, 52, 0.2);
  --blackText50: rgba(0, 47, 52, 0.5);
  --accent50: rgba(35, 229, 219, 0.5);
  --black20: rgba(0, 0, 0, 0.2);
  --lightGrey60: hsla(0, 0%, 85.9%, 0.6);
  --accentLight50: rgba(200, 248, 246, 0.5);
  --primaryGrey70: rgba(0, 47, 52, 0.7);
  --brandPrimary36: rgba(0, 47, 52, 0.36);
  --black25: rgba(0, 0, 0, 0.25);
  --black24: rgba(0, 0, 0, 0.24);
  --black50: rgba(0, 0, 0, 0.5);
  --white87: hsla(0, 0%, 100%, 0.87);
  --black30: rgba(0, 0, 0, 0.3);
}

*{
  overflow-x: hidden;
  /* overflow-y: hidden; */
}